.container__monitor {
    display: flex;
    height: 850px;
    width: 1440px;

}

.container__monitor__collun {
   padding: 120px 0 0 120px;
    width: 50%;
}
.container__monitor__collun__2{
    padding: 120px 120px 0 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__mointor__subtitle {
    color: var(--font-color);
    font-family: var(--font-main);
    font-size: 44px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 300;
    width: 40%;
    margin-bottom: 50px;
}

.container__monitor_text {
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font-second);
    margin-bottom: 30px;
    width: 600px;
    line-height: 25px;

}


.container__monitor__service {
    color: var(--font-color);
    font-family: var(--font-second);
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;

}
.container__monitor__service__number{
    color: var(--font-color);
    font-family: var(--font-second);
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 10px;

}
.container__monitor__download {

    color: var(--font-color);
    font-family: var(--font-second);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;

    
}
.container__monitor__download__number{
    border: 3px solid var(--font-color);
    display: inline-block;
    height:50px;
    width: 180px;
    margin: 5px;
    

}
.container__image__smartphone{

    height: 700px;
    width:400px;
    padding-top: 20px;

}
.container__monitor__rect{
    width: 600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}