.container__mode{
    margin-top: 40px;
    text-align: center;
}
.container__mode__collun__flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.container__mode__title{
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 40px;
    align-self: center;
    letter-spacing: 4px;
    font-family: var(--font-second);
    font-weight: 600;
}
.container__mode__collun{
    background-color: #66119781;
    border: 2px solid var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 600px;
    width: 350px;
}
.container__mode__subtitle{
    font-family: var(--font-main);
    color: var(--font-color);
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
}
.container__mode__text{
    color: var(--font-color);
    font-family: var(--font-second);
    font-size: 14px;
    padding: 0 25px;
    line-height: 20px;
}
.container__mode__button{
    border: 1px solid var(--font-color);
    border-radius: 20px;
    padding: 7px 50px;
    text-decoration: none;
    font-family: var(--font-second);
    color: var(--font-color);
    margin-top: 40px;
}
.image__mode{
    height: 240px;
    width: 240px;
    object-fit: contain;
}