@import url(/css/header.css);
@import url(/css/home.css);
@import url(/css/security.css);
@import url(/css/smart.css);
@import url(/css/mode.css);
@import url(/css/tech.css);
@import url(/css/monitor.css);
@import url(/css/about.css);
@import url(/css/house.css);
@import url(/css/footer.css);
:root{
    --font-main: 'AudioWide';
    --font-second: 'Montserrat';
    --font-color: #ffffff;
}
body{
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 7510px;
    width: 1440px;
}
html {
    scroll-behavior: smooth;
 }
